# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Yandex Practicum e2e test
test/devopstest

# Output of the go coverage tool
coverage.*

# Binaries
cmd/agent/main
cmd/agent/agent
cmd/server/main
cmd/server/server
cmd/staticlint/main
cmd/staticlint/staticlint

# Dependency directories (remove the comment below to include it)
vendor/

# IDEs directories
.idea
.vscode

# OS X things
.DS_Store

# Public/private keys for communications encryption
build/keys